/* your styles go here */
/*#Container .mix{*/
  /*display: none;*/
/*}*/


.portfolio-btn {
  color: #b6b6b6;
  cursor: pointer;
  font-size: 90%;
  font-weight: 400;
  text-transform: uppercase;
  transition: color .25s ease-out;
}

.portfolio-btn:hover {
  color: #171717;
}


.portfolio-btn.active {
  color: #505050;
}

.portfolio-btn:after {
  content: '';
  background-color: #a9da3f;
  display: block;
  width: 100%;
  height: 1px;
  transition: transform .25s ease-out;
@include transform(scaleX(0));
@include transform-origin(left center);
}

.portfolio-btn:hover:after {
@include transform(scaleX(1));
}

.portfolio-btn.active:after {
@include transform(scaleX(1));
}


.content-column-list {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
@media (min-width: 1200px) {
  .content-column-list {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.Parabutton{
  position: relative;
  display: inline-block;
  height: 24px;
  line-height: 24px;
  margin: 1px 8px 8px 8px;
  padding: 0 8px 0 8px;
  color: #fff;
  font-size: 12px;
  font-family: "Roboto", "Microsoft YaHei","STXihei",Helvetica, Arial, sans-serif;
  text-decoration: none;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
  font-weight: bold;
}

.Parabutton::before{
  content: '';
  position: absolute;
  top:0;    right: 0;    bottom: 0;    left: 0;
  transform: skew(-20deg);
  z-index: -1;
  -webkit-border-radius: 10%;
  border-radius: 10%;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.UR::before{
  background: #a9da3f;
}

.UT::before{
  background: #3a99d8;
}

.AR::before{
  background: #9a5cb4;
}

.PG::before{
  background: #29bb9c;
}

.PR::before{
  background: #f0c330;
}